<mat-toolbar color="primary">
  My Weather App
</mat-toolbar>
<div class="content">
  <div class="flex-row">
    <form (ngSubmit)="getWeather()" class="example-form" >
      <mat-form-field class="example-full-width">
        <mat-label>What Weather I wanna know?</mat-label>
        <input
          id="city"
          matInput 
          type="text"  
          [(ngModel)]="city"
          name="city" 
          placeholder="Enter city" 
          [value]="city"
           >
      </mat-form-field>
      
  <button mat-raised-button color="primary" type="submit" class="btn" >Get Weather</button>
    </form>      
  
  </div>
  <br/>
<div class="">
  <div class="weather-info padmarg" *ngIf="weatherData$">
    <h2 class="title" color="primary">Weather Data</h2>
    <div class="content-info ">
      <p class="name">{{ weatherData$.name }}</p>

      <p class="temp"> {{ weatherData$.main.temp }} °C</p>
      <!-- <span> Feels like {{weatherData$.main.feels_like | number: '0.0-0'}} C</span> -->
      <p class="humi">Humidity: {{ weatherData$.main.humidity }}%</p>

    </div>
  </div>

</div>

  <div class="weather-noInfo" *ngIf="!weatherData$">
    <p class="no-info">No weather data available.</p>
  </div>

  <div *ngIf="isLoading" style="text-align: center; margin-top: 5rem;">
    <app-loading-spinner></app-loading-spinner>
  </div>

   <div class="row">
    <div class="weather-info" >
      <h2 class="title" color="primary">London Weather</h2>
      <div class="content-info pdmg">  
        <p class="temp"> {{ londonWeather.main?.temp }} °C</p>
        <!-- <span> Feels like {{londonWeather.main?.feels_like | number: '0.0-0'}} C</span> -->
        <p class="humi">Humidity: {{ londonWeather.main?.humidity }}%</p>
      </div>
    </div>
    <div class="weather-info" >
      <h2 class="title" color="primary">Berlin Weather</h2>
      <div class="content-info pdmg">  
        <p class="temp"> {{ berlinWeather.main?.temp }} °C</p>
        <p class="humi">Humidity: {{ berlinWeather.main?.humidity }}%</p>
      </div>
    </div>
    <div class="weather-info" >
      <h2 class="title" color="primary">Chicago Weather</h2>
      <div class="content-info pdmg">  
        <p class="temp"> {{ chicagoWeather.main?.temp }} °C</p>
        <p class="humi">Humidity: {{ chicagoWeather.main?.humidity }}%</p>
      </div>
    </div>
  </div>

</div>

<footer class="foot">
  <div class="flex-colm">
    <p class="fp">Created by Luis Diego Gamboa</p>
    <p class="fp">Powered by Angular</p>
    <a class="icon" href="https://github.com/LuisDGamboaC" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="33" height="33" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
    </svg></a>
  </div>
</footer>